body {
    background-color: #f0ede3;
    width: 100%;
}

header {
    height: 60px;
    padding: 20px;
    max-width: 1440px;
    border-bottom: 1px solid black;
}

#container {
    min-height: calc(100vh - 140px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 120px 30px;

    article {
        width: 300px;
        height: 400px;
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25px 15px;

        h2 {
            font-size: 20px;
            text-align: center;
        }

        figure {
            height: 200px;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                object-fit: cover;
            }
        }

        tbody {
            display: flex;
            flex-direction: column;
            text-align: start;
            gap: 5px;
            font-size: 1rem;

            th {
                width: 100px;
                text-align: start;
            }

            tr {
                display: flex;
                text-align: start;
            }
        }
    }
}

footer {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: #f0ede3;
}

/* #region contentlimits */

@media screen and (min-width: 1441px) {
    #container {
        padding: 0px max(calc(50% - 720px));
    }
}

/* #endregion contentlimits */
