body {
    background-color: #f0ede3;
    width: 100%;
}

body > header {
    height: 60px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid black;
}

#container {
    min-height: calc(100vh - 140px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 80px 30px;

    article {
        width: 300px;
        min-height: 600px;
        border: 2px solid black;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px 15px;
        gap: 10px;

        .title {
            min-height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                font-size: 20px;
                text-align: center;
            }
        }

        figure {
            height: 200px;
            display: flex;
            justify-content: center;

            img {
                display: flex;
                object-fit: cover;
            }
        }

        .likes {
            display: flex;
            gap: 8px;
            justify-content: flex-end;

            .like {
                border: none;

                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .movie-table {
        display: flex;
        flex-direction: column;
        text-align: start;
        gap: 5px;
        font-size: 1rem;

        th {
            width: 100px;
            text-align: start;
        }

        tr {
            display: flex;
            text-align: start;
        }
    }

    .interaction {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 1px solid black;
        padding-top: 10px;

        .comments {
            display: flex;
            align-items: center;
            gap: 8px;

            input {
                width: 300px;
            }

            .like-btn {
                border: none;
            }

            img {
                height: 20px;
                width: 20px;
            }
        }

        .movie-comments {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .div-table {
                height: 125px;
                overflow-y: auto;
            }
        }

        .comments-table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            text-align: left;

            th {
                width: 30%;
            }

            td {
                width: 70%;
            }

            th,
            td {
                padding: 4px 8px;
                vertical-align: top;
            }
        }
    }
}

footer {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: black;
    color: #f0ede3;
}

/* #region contentlimits */

@media screen and (min-width: 1441px) {
    #container {
        padding: 80px max(calc(50% - 720px));
    }
}

/* #endregion contentlimits */
